.root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services_container {
  width: 80%;
  box-sizing: border-box;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 20px;
}

@media screen and (max-width: 650px) {
  .services_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
}
