html,
body {
  margin: 0;
  height: 100vh;
  --cred: #ca3838;
  --cgreen: #38ca9e;
  --cbackground: #f5f5f5;
  background-color: var(--cbackground);
}

* {
  font-family: "Bellota Text";
}

body > div {
  position: relative;
  overflow-x: hidden;
}

h1 {
  font-family: "Comfortaa";
}
